main {
    margin: 0px -8px 0px -8px;
}
body {
    background-color: #f9fafd;
}

.window {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window_content {
    background-color: lightsteelblue;
    width: 380px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h1.main_title {
    margin-top: 0px;
    margin-bottom: 50px;
}

.intext {
    background-color: lightsteelblue;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    outline-offset: 0;
}

.butt  {
    border: 2px solid;
    border-radius: 18px;
    margin: 10px;
    padding: 5px;
    padding-inline: 50px;
}
.butt:hover {
    cursor: pointer;
    background-color: rgb(209, 207, 207);
}

.form_button {
    font-size: 28px;
    margin-top: 80px;
}

.header_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: -10px -8px 0px -10px;
    background-color: lightsteelblue;
}

.action {
    font-weight: bolder;
}

.nav_link {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-inline: 10px;
}

.user_info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.user_name {
    font-size: 20px;
}

.exit_button button {
    margin-inline: 0px;
}

.courses_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_courses_page {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    margin: 10px;
}

.course_content_edit {
    resize: none;
}

.add_course_area {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.add_project {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_project_window {
    width: 45vw;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rosybrown;
}

.add_project_button {
    display: flex;
    justify-content: flex-end;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zxc {
    width: 200px;
    height: 600px;
}

/*Курсы*/
.course {
    background: #f1c987;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    width: 95vw;
}
.course_content {
    max-width: 100%;
    margin: 5px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
}
.course_list_tasks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    flex-direction: row;
    justify-content: center;
}
.course_name {
    padding: 5px;   
    min-width: 0%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.add_update_course {
    margin-right: 30px;
}
.course_content:hover .course_name_buttons {
    display: flex;
}
.course_name_buttons {
    display: none;
}
.add_course {
    margin: 10px 10px 40px 10px;
}
.create_button {
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    border: 2px solid;
}
.create_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}
.course_title_tasks {
    margin-left: 30px;
    font-weight: bolder;
}
/*Задачи*/
.task {
    background-color: #eea226;
    border-radius: 15px;
    padding: 10px;  
    margin: 5px 0px 5px 5px;
    width: 28vw;
    /* height: fit-content; */
}
.task_data {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid;
}
.task_data:hover .task_change_buttons {
    display: block;
}
.task_inform {
    min-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px;
}
.task_content {
    padding-bottom: 40px;
}
.task_date_priority {
    min-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 10px;
}
.task_change_buttons {
    display: none;
}
.task_title_subtasks {
    margin: 5px 0px 5px 0px;
    margin-left: 30px;
    font-weight: bolder;
}
/*Подзадачи*/
.subtask {
    background-color: #ffd590;
    border-radius: 10px;
    padding: 10px;  
    margin: 5px 0px 5px 30px;
}
.subtask_data {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border-bottom: 2px solid; */
}
.subtask_data:hover .subtask_change_buttons {
    display: block;
}
.subtask_inform {
    min-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px;
}
.subtask_content {
    resize: none;
    padding-bottom: 40px;
}
.subtask_priority {
    min-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.subtask_change_buttons {
    display: none;
}
/*Добавление и изменение задач и подзадач*/
.task_add_update_content {
    width: 99%;
    height: 11vh;
    margin: 5px 0px 5px 0px;
    resize: none;
    border-radius: 10px;
}

.create_or_change_button {
    padding: 5px 18px 5px 18px;
    border: 2px solid;
    border-radius: 20px;
}
.create_or_change_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}

/*Окно изменения или добавления задач и подзадач*/
.add_or_update_task_add {
    display: grid;
    justify-content: center;
    align-content: center;
}
.add_or_update_task_update {
    display: block;
}
.add_update_window_task_add {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 12px;
    max-width: 40vw;
    width: 40vw;
}
.add_update_window_task_update {
    background-color: #ffe3bd;
    border-radius: 8px;
    padding: 12px;
}
.add_update_window_subtask_add {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 12px;
    margin-left: 30px;
}
.add_update_window_subtask_update {
    background-color: #ffe3bd;
    border-radius: 8px;
    padding: 12px;
}
.add_update_buttons {
    display: flex;
    padding: 10px 0px 0px 0px;
    justify-content: flex-end;
}

.add_or_update_button {
    padding: 5px 0px 5px 0px;
    padding-inline: 18px;
    margin-left: 5px;
    border: 2px solid;
    border-radius: 20px;
}
.add_or_update_button:enabled:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}
.cancel_button {
    padding: 5px 0px 5px 0px;
    padding-inline: 18px;
    margin-left: 5px;
    border: 2px solid;
    border-radius: 20px;
}
.cancel_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}
.div_create_or_change_button {
    display: flex;
    justify-content: center;
}
.create_or_change_button {
    margin: 5px 0px 5px 0px;
    background-color: #ececec;
}

/*Страница расписания задач*/
.schedule_selectors {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.schedule_selector {
    margin: 0px 5px 0px 5px;
}
.title_list_tasks {
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.schedule_tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schedule_task {
    width: 45vw;
}

/*Задачи и подзадачи в расписании*/
.schedule_task {
    background-color: #eea226;
    border-radius: 15px;
    padding: 15px;
    margin: 5px 0px 5px 5px;
}
.schedule_subtask_data {
    background-color: #ffd590;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px 5px 20px;
}
.task_name_course {
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Цвет задач и подзадач от приоритета */
.t_low {
    background-color: #eeac26;
}
.t_normal {
    background-color: #eea226;
}
.t_high {
    background-color: #ee8026;
}
.st_low {
    background-color: #ffe6be;
}
.st_normal {
    background-color: #ffd590;
}
.st_high {
    background-color: #ffc360;
}
/* Продолжение про задачи в расписании */
.schedule_task_data {
    background: none;
}
/* Продолжение про задачи в курсах */
.task_data {
    background: none;
}

/*Добавление и изменение курса*/
.course_content_edit {
    width: 99%;
    height: 11vh;
    margin: 5px 0px 5px 0px;
    resize: none;
    border-radius: 10px;
}

/*Проекты*/
.title_project_list_page {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    margin: 10px;
}
.title_project_list_page .create_button {
    margin-right: 30px;
}
.projects_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.project_data {
    width: 30vw;
    margin: 5px 0px 5px 5px;
    padding: 10px;
    background-color: #f1c987;
    border-radius: 15px;
}
.project_name_and_change_buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.project_inform {
    padding-inline: 10px;
}
.project_inform:hover .project_change_button {
    display: block;
}
.project_name {
    min-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px 0px 20px 0px;
}
.project_name_creator {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.project_change_button {
    display: none;
}
.project_enter_and_exit_button {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.enter_exit_button {
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    padding-inline: 3vw;
    border-radius: 20px;
    border: 2px solid;
    margin: 5px;
}
.enter_exit_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}

.subtask_data:hover .subtask_change_buttons {
    display: block;
}

/*Модальное для создания и обновления проекта*/
.name_project {
    padding-bottom: 5px;
}
.project_name_change {
    width: 100%;
    resize: none;
    border-radius: 5px;
}
.student_select {
    display: flex;
    justify-content: center;
}
.student_select_component {
    width: 100%;
}
.project_add_student_button {
    display: flex;
    justify-content: flex-end;
}
.add_student_button {
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 18px 5px 18px;
    margin: 10px 0px 5px 0px;
}
.add_student_button:enabled:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}
.list_selected_student {
    margin: 5px 0px 30px 0px;
}
.selected_student {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.delete_selected_student_button {
    height: fit-content;
    border: 2px solid;
    border-radius: 20px;
    padding: 2px 15px 3px 15px;
}
.delete_selected_student_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}

/*На странице проекта, оппеделенного*/
.in_project_title {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid;
}
.in_project_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.in_project_name {
    word-wrap: break-word;
    white-space: pre-wrap
}
.in_project_exit_button_span {
    margin-right: 30px;
}
.in_project_exit_button {
    height: fit-content;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 18px 5px 18px;
}
.in_project_exit_button:hover {
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}
.in_project_tasks_table {
    overflow: overlay;
    display: flex;
    justify-content: space-around;
}
.project_column {
    width: 23vw;
    margin-inline: 5px;
}
.project_column_name {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.column_task {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: beige;
    padding: 10px;
    
}
.column_task_data {
    width: 100%;
}
.column_task_content {
    max-width: 100%;
    word-wrap: break-word;
    padding-bottom: 15px;
    white-space: pre-wrap;
}
.column_task_creator_name {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
    opacity: 0.6;
}
.column_task_change_button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
}
.column_task_change_status_buttons {
    display: flex;
    justify-content: space-between;
}
.change_status_button {
    font-size: 18px;
    font-weight: bolder;
}

/*Окно добавления и изменения задач проекта*/
.create_project_task_button {
    display: flex;
    justify-content: center;
    padding: 0px 0px 8px 0px;
}
.add_or_update_project_task {
    width: 100%;
    display: grid;
}
.project_task_buttons {
    display: flex;
    justify-content: space-around;
}
.project_task_content {
    width: 100%;
    resize: none;
}

/*Чат*/
.chat {
    display: flex;
    justify-content: flex-end;
}
.chat_module {
    position: fixed;
    z-index: 1;
    top: 0px;
    display: flex;
    justify-content: flex-end;
}
.tongue_chat {
    height: 36px;
    position: relative;
    top: 92px;
    display: flex;
    background-color: burlywood;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    padding: 8px;
    border-radius: 12px 0px 0px 12px;
    font-size: 30px;
    font-weight: bolder;
}
.tongue_chat:hover {
    background-color: #c19b6b;
}
.arrow_tongue_chat {
    padding: 0px 0px 0px 2px;
}
.chat_window {
    height: 100vh;
    width: 450px;
    max-width: 60vw;
    background-color: #f1c987;
}
.chat_header {
    display: flex;
    height: 7vh;
}
.close_chat_button {
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    min-height: 35px;
    min-width: 35px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid;
}
.name_chat {
    font-size: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.chat_list_messages {
    overflow: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: lemonchiffon;
    padding: 5px;
    height: 80vh;
}
.add_or_update_chat_message {
    height: 11vh;
}
.message_add_update_content {
    resize: none;
    width: 100%;
    height: 60%;
    background-color: #fffdec;
}
.add_or_update_button_message {
    margin-top: -5px;
    display: flex;
    height: 40%;
}
.chat_create_or_change_button {
    width: 100%;
    font-size: 16px;
    padding: 4px 0px 4px 0px;
}
/* Сообщение в чате */
.chat_message {
    margin: 2px 0px 2px 0px;
    max-width: 80%;
    min-width: 30%;
    border: 2px solid;
    border-radius: 10px;
    padding: 6px;
    background-color: #ffbc50;
}
.my_message .chat_message {
    background-color: #ffd693;
}
.my_message {
    display: flex;
    justify-content: flex-end;
}
.my_message .other_message {
    background-color: #ffbc50;
}
.other_message {
    display: flex;
    justify-content: flex-start;
}
.creator_name_message {
    border-bottom: 2px solid;
    display: inline;
}
.message_info {
    margin: 5px;
}
.message_content_buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
}
.message_content_buttons:hover .message_change_buttons {
    display: block;
}
.message_content {
    padding-right: 2px;
    word-wrap: break-word;
    white-space: pre-wrap;
    min-width: 55%;
}
.message_change_buttons {
    display: none;
}
.message_t_d {
    font-size: 12px;
    display: grid;
    justify-content: end;
    justify-items: end;
}
.message_upd {
    font-size: 12px;
    display: flex;
    justify-content: left;
}

/* кнопка удаления и изменения */
.delete_button {
    border: 1px solid;
    margin: 1px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../icons/Delete.png);
    background-size: cover;
}
.confirm_delete_button {
    border: 1px solid;
    margin: 1px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../icons/Complete_Delete.png);
    background-size: cover;
}
.update_button {
    border: 1px solid;
    margin: 1px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../icons/Edit.png);
    background-size: cover;
}
/* CSS для смартфона с шириной меньше 600 */
@media (max-width: 600px) {
    /* Панель навигации */
    .navigation {
        display: grid;
    }
    .nav_link {
        padding-inline: 0px;
    }
    .exit_button button {
        padding-inline: 30px;
    }
    /* Страница расписания */
    .schedule_selectors {
        flex-direction: column;
    }
    .schedule_task {
        width: 85vw;
        margin: 5px 0px 5px 0px;
    }
    .schedule_task .task_content {
        padding-bottom: 20px;
    }
    .schedule_task .subtask_content {
        padding-bottom: 20px;
    }
    .schedule_task .task_date_priority {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .schedule_task .subtask_priority {
        font-size: 14px;
    }
    /* Страница списка курсов */
    .title_courses_page {
        display: block;
        margin: 5px;
        width: 80vw;
    }
    .add_update_course {
        display: flex;
        justify-content: flex-end;
        margin-right: 0px;
    }
    .course {
        width: 90vw;
    }
    .course .add_course_area {
        width: 100%;
    }
    .course .task_content {
        padding-bottom: 20px;
    }
    .course .course_name {
        padding: 0px 0px 5px 0px;
        min-width: 80%;
    }
    .course_list_tasks {
        display: block;
    }
    .task {
        width: auto;
    }
    .course .task_date_priority {
        margin-bottom: 0px;
    }
    .course .subtask {
        padding: 2px;
    }
    .course .subtask_content {
        padding-bottom: 20px;
    }
    .add_or_update_task_add {
        display: block;
    }
    .add_update_window_task_add {
        width: auto;
        max-width: none;
        margin-left: 30px;
    }
    /* Страница групповых проектов */
    .title_project_list_page {
        margin: 5px;
        width: 80vw;
    }
    .title_project_list_page .create_button {
        margin-right: 0px;
    }
    .projects .project_data {
        width: 90vw;
    }
    .project_enter_and_exit_button {
        margin-top: 0px;
    }
    .projects .enter_exit_button {
        padding: 5px 30px 5px 30px;
        margin: 0px;
        margin-inline: 2px;
    }
    /* Окно создания и изменения проекта из списка */
    .add_project_window {
        width: 90vw;
        padding: 14px;
    }
    /* Проект отдельно каждый */
    .in_project_name {
        width: 60vw;
    }
    /* Чат */
    .chat_window {
        width: 100vw;
        max-width: 100vw;
    }
}
/* При экране меньше 700 пикселей */
@media (max-width: 700px) {
    .in_project_tasks_table {
        justify-content: start;
    }
    .project_column {
        width: 240px;
        min-width: 240px;
    }
}